<html>
 <head>
  <title>
   Bugsquashing day stats
  </title>
 </head>
 <body>
  <p>
   {% if openstack_status %}
   <link href="http://www.openstack.org/themes/openstack/css/blueprint/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
   <link href="http://www.openstack.org/themes/openstack/css/blueprint/print.css" media="print" rel="stylesheet" type="text/css"/>
   <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin" rel="stylesheet" type="text/css"/>
   <link href="http://www.openstack.org/themes/openstack/css/main.css" rel="stylesheet" type="text/css"/>
   <script src="http://status.openstack.org/common.js" type="text/javascript">
   </script>
   <script type="text/javascript">
    header('Bugday');
   </script>
   {% endif %}
  </p>
  <div class="container">
   <h1>
    Bugsquashing day stats
   </h1>
   <table border="0">
    {% for project in projects %}
    <tr>
     <td>
      {% if project.title %}
      <h2>
       {{ project.title }}
      </h2>
      {% else %}
      <h2>
       {{ project.project|capitalize }}
      </h2>
      {% endif %}
     </td>
     <td>
      <iframe frameborder="NO" height="{{ project.height|default(230) }}" src="{{ project.project }}.html" width="750">
      </iframe>
      <br/>
      <a href="{{ project.project }}-bug-stats.json">
       JSON FILE
      </a>
      {% if daily %}
      &nbsp;/ <a href="{{ project.project }}-daily.html">Daily Stats</a> / <a href="{{ project.project }}-bug-stats-daily.json">
       JSON FILE(DAILY)
      </a>
      {% endif %}

     </td>
    </tr>
    {% endfor %}
   </table>
  </div>
  {% if openstack_status %}
  <script type="text/javascript">
   footer();
  </script>
  {% endif %}
 </body>
</html>
