<!DOCTYPE html>
<html>
 <head>
  <meta content="text/html; charset=utf8" http-equiv="Content-Type"/>
  <title>
   {{ project.project|capitalize }} Bug Squashing
  </title>
  <script language="javascript" src="js/jquery.js" type="text/javascript">
  </script>
  <script language="javascript" src="js/jquery.flot.js" type="text/javascript">
  </script>
  <script language="javascript" src="js/jquery.flot.stack.js" type="text/javascript">
  </script>
 </head>
 <body>
  <div id="{{ project.project }}" style="width:700px;height:{{ project.height|default(200) }}px;">
  </div>
  <script type="text/javascript">
   var datafile = "{{ project.project }}-bug-stats.json";
      var range = "#{{ project.project }}";
      var overview  = "#overview";
      var package = "{{ project.project }}";
  </script>
  <script src="js/package-triaging.js" type="text/javascript">
  </script>
 </body>
</html>
